</body>

<footer>
    <div class="navbtns">
        <a class="footer-anchor" href="/pc">PC</a>
        <a class="footer-anchor" href="/uc">UC</a>
        <a class="footer-anchor" href="/pe">PE</a>
        <a class="footer-anchor" href="/ue">UE</a>
    </div>
    <div class="credits">

        Total Credits: <%=totalCredits%>

    </div>

</footer>

</html>