<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <link rel="stylesheet" href="css/coursestyle.css">
    <a class="logout-button" href="/logout">Log Out</a>
</head>

<body>
    <p alignment="center">Please Refresh to see the selected courses and total credits.</p>